# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

#Project folders and files
docs/*/index.html
docs/js/highlight_source/build/docs
docs/js/highlight_source/node_modules
docs/import_phpdoc.conf
docs/commits.data
