@charset "utf-8";

#main,
#main section.odd .section,
.blue_btn,
.round_box,
.login button,
.message_field button,
.traffic,
select {
	behavior: url(/css/pie/pie.php);
}

#main {
	-pie-background:	linear-gradient(#dbdbdb 0, #f7f7f7 324px, #f7f7f7 100%);
}

.main_top ~ #main {
	-pie-background: linear-gradient(#b7b7b7 0, #f7f7f7 254px, #f7f7f7 100%);
}

.blue_btn {
	-pie-background:	linear-gradient(#0086cc 0, #0057cc 100%);
}

.login button {
	-pie-background:	linear-gradient(#fff 0, #e6e6e6 100%);
}